<p><%= current_user.name %></p>
Your Applications<br>
  <table>
    <% @job_applications.each do |job| %>
      <tr>
        <td>
          <%= link_to job.job_title, [current_user, job] %>
        </td>
        <td>
          <%= job.company_name %>
        </td>
        <td>
          <%= link_to "Edit", edit_user_job_application_path(current_user, job) %>
        </td>
        <td>
          <%= link_to "Delete", [current_user, job], method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
<p></p>
<p></p>