<table>
  <tbody>
    <tr>
      <td>
        Job Title:
      </td>
      <td>
        <%= @job_application.job_title %>
      </td>
    </tr>
    <tr>
      <td>
        Company Name:
      </td>
      <td>
        <%= @job_application.company_name %>
      </td>
    </tr>
    <tr>
      <td>
        Contact Name:
      </td>
      <td>
        <%= @job_application.contact_name %>
      </td>
    </tr>
    <tr>
      <td>
        Contact Title:
      </td>
      <td>
        <%= @job_application.contact_title %>
      </td>
    </tr>
    <tr>
      <td>
        Contact Email:
      </td>
      <td>
        <%= @job_application.contact_email %>
      </td>
    </tr>
    <tr>
      <td>
        Job Description: 
      </td>
      <td>
        <%= @job_application.description_url %>
      </td>
    </tr>
    <tr>
      <td>
        Application Status:
      </td>
      <td>
        <%= @job_application.status %>
      </td>
    </tr>
    <tr>
      <td>
        Date Submitted: 
      </td>
      <td>
        <%= @job_application.date_submitted %>
      </td>
    </tr>
    <tr>
      <td>
        Submission Method:
      </td>
      <td>
        <%= @job_application.submission_method %>
      </td>
    </tr>
    <tr>
      <td>
        Five-Day Follow-Up
      </td>
      <td>
        <%= @job_application.follow_up %>
      </td>
    </tr>
    <tr>
      <td>
        Additional Comments:
      </td>
      <td>
        <%= @job_application.comments %>
      </td>
    </tr>
  </tbody>
</table>