<!DOCTYPE html>
<html>
<head>
  <title>Job Search Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="container">
      <%= link_to 'Job Search Tracker Logo', root_path %><%= render 'layouts/login' %>
    </div>
  </header>

  <div class="container">
    <%= render "layouts/nav" %>
  </div>

  <div class="container">

    <% flash.each do |key, value| %>
        <div class="flash"><%= value %></div>
    <% end %>

    <%= yield %>

    <footer>
    </footer>
  </div>

</body>
</html>